
@font-face {
    font-family: Metropolis_Light;
    src: url("../font/Metropolis-Light.otf") format("opentype");
}

@font-face {
    font-family: Metropolis;
    src: url("../font/Metropolis-Regular.otf") format("opentype");
}

@font-face {
    font-family: Metropolis_Medium;
    src: url("../font/Metropolis-Medium.otf") format("opentype");
}

@font-face {
    font-family: Metropolis_SemiBold;
    src: url("../font/Metropolis-SemiBold.otf") format("opentype");
}

body {
    font-family: Metropolis_Light, sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
}

body::after {
    content: "";
    background-image:url('../data/Background.png');
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -100;
}

h3 {
    font-family: Metropolis_Medium, sans-serif;
}

#main {
    position: relative;
    margin: 0;
    min-height: 100vh;
}

#main-vis-switch{
    position: absolute;
    top: 40px;
    right: 40px;
}

.main-display {
    display: grid;
    padding: 40px;
}

.left-panel {
    grid-column: span 2;
    grid-row: 1;
}

.left-panel h3 {
    margin-top: 20px;
}

.left-panel > section {
    margin: 40px 0;
}

.right-panel {
    grid-column: span 1;
    grid-row: 1;
}

.right-panel > section {
    margin: 40px 0;
    float: right;
}

.main-vis {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* D3 */
.axis text {
    fill: #fff;
}

.axis path,
.axis line {
    stroke: #fff;
}
