/* layout */
.main-display.realistic {
    padding: 40px 40px 80px 40px;
}

.left-panel.realistic > .options {
    width: 200px;
}

.right-panel.realistic{
    position: absolute;
    top: 86px;
    right:48px;
}

/* Legend */
.legend { 
    list-style: none; 
    opacity: 0.8;
    margin-top: 40px;
    margin-right: 10px;
}

.legend li{ 
    margin-top: 2px;
}

.legend span { 
    border: none; 
    float: left; 
    width: 10px; 
    height: 10px; 
    border-radius: 50%;
    margin: 5px 6px 6px 0; 
    background-color: #ffffff;
    opacity: 0.9;
}

.legend .number{
    display: inline-block;
}

.legend .China { background-color: #E12200; opacity: 0.75}
.legend .Russia { background-color: #9B56BB; opacity: 0.75}
.legend .UK { background-color: #0079B8; opacity: 0.75}
.legend .USA { background-color: #62A420; opacity: 0.75}
.legend .Others { background-color: #FAC400; opacity: 0.75}

.legend .Civil{ 
    width: 10px; 
    height: 10px;
    border-radius: 0%; 
}

.legend .Commercial {
    background-color: transparent;
    border: 2px solid white;
}

.legend .Government{
    width: 0px; 
    height: 0px;
    border-radius: 0%;
    background-color:transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
}

.legend .Millitary {
    border-radius: 0%;
    background: white;
    height: 15px;
    position: relative;
    width: 3px;
    transform: rotate(45deg);
    margin: 3px 10px 0 3px;
  }

.legend .Millitary:after {
    background: white;
    content: "";
    height: 3px;
    left: -6px;
    position: absolute;
    top: 6px;
    width: 15px;

  }

.legend .year2000-2009 { opacity: 0.6; }
.legend .year1990-1999 { opacity: 0.4; }
.legend .Before1990 { opacity: 0.2; }


/* D3 */
.regular-ellipse {
    stroke: rgba(255, 255, 255, 0.7);
    /* opacity: 0.4; */
    stroke-width: 1;
    fill: none;
}

/* font */
.orbitLabels{
    opacity: 0.8;
}

.x.label{
    font-size: 18px;
}