/* layout */
.main-display.realistic {
    padding: 40px 40px 80px 40px;
}

.left-panel.realistic > .options {
    width: 200px;
}

/* D3 */
.regular-ellipse {
    stroke: rgba(255, 255, 255, 0.7);
    /* opacity: 0.4; */
    stroke-width: 1;
    fill: none;
}

/* font for all texts */
h1 {
    font-size: 28px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 13px;
}

.custom-control-label{
    font-size: 14px;
}

.axis, .label{
    font-family: Metropolis, sans-serif;
    font-size: 14px;
}
