/* layout */

h1{
    font-size:28px;
}

h2{
    font-size:18px;
}

h3{
    font-size:13px;
}

.main-display.realistic {
    padding: 40px 40px 80px 40px;
}

.left-panel.realistic > .options {
    width: 200px;
}

.right-panel.realistic{
    position: fixed;
    top: 86px;
    right:48px;
}


.legend { 
    list-style: none; 
    opacity: 0.7;
    margin-top: 40px;
    margin-right: 10px;
}

.legend li{ 
    margin-top: 2px;
}

.legend span { 
    border: none; 
    float: left; 
    width: 10px; 
    height: 10px; 
    border-radius: 50%;
    margin: 6px 6px 6px 0; 
    background-color: #ffffff;
}

.legend .China { background-color: #E12200; }
.legend .Russia { background-color: #9B56BB; }
.legend .UK { background-color: #0079B8; }
.legend .USA { background-color: #62A420; }
.legend .Others { background-color: #FAC400; }

.legend .Commercial{ 
    width: 10px; 
    height: 10px;
    border-radius: 0%; 
}

.legend .Government{
    width: 0px; 
    height: 0px;
    border-radius: 0%;
    background-color:transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid white;
}

.legend .Millitary {
    border-radius: 0%;
    background: white;
    height: 15px;
    position: relative;
    width: 3px;
    transform: rotate(45deg);
    margin: 3px 10px 0 3px;
  }

.legend .Millitary:after {
    background: white;
    content: "";
    height: 3px;
    left: -6px;
    position: absolute;
    top: 6px;
    width: 15px;

  }

.legend .Multi-purpose{
    background-color: transparent;
    border: 2px solid white;
}


.legend .year1 { opacity: 0.75; }
.legend .year2 { opacity: 0.5; }
.legend .Before { opacity: 0.25; }


/* D3 */
.regular-ellipse {
    stroke: rgba(255, 255, 255, 0.7);
    /* opacity: 0.4; */
    stroke-width: 1;
    fill: none;
}

/* font for all texts */
h1 {
    font-size: 28px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 13px;
}

.custom-control-label{
    font-size: 14px;
}

text.label {
    text-anchor: middle;
    font-size: 12px;
    fill: #fff;
    font-family: Metropolis, sans-serif;
}

g text {
    font-size: 10px;
    font-family: Metropolis, sans-serif;
    fill: #fff;
} 