
body {
    font-family: 'Rajdhani', sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
}

#main {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#main-vis {
    position: absolute;
    left: 30%;
    width: 65%;
    height: 100%;
    z-index: -1;
}

#left-panel {
    position: absolute;
    width: 40%;
    padding: 40px;
    left: 0;
}

#left-panel h3 {
    font-weight: 300;
    margin-top: 20px;
}

#left-panel > .options {
    margin-right: 200px;
}

#left-panel > section {
    margin: 40px 0;
}

#right-panel {
    position: absolute;
    width: 20%;
    padding: 40px;
    right: 0;
}

#right-panel > section {
    margin: 40px 0;
    float: right;
}

.regular-ellipse {
    stroke: rgba(255, 255, 255, 0.7);
    /* opacity: 0.4; */
    stroke-width: 1;
    fill: none;
}

.axis text {
    fill: #fff;
}

.axis path,
.axis line {
    stroke: #fff;
}

text.label {
    text-anchor: middle;
    font-size: 10px;
    fill: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

g text {
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    fill: #fff;
}