<div class="left-panel realistic">
    <h1>Satellites since 1974 to Today</h1>
    
    <section class="options">
        <h2>Refine by</h2>
        <h3>Country</h3>
        <select class="custom-select" id="refineByCountry"></select>
        <h3>Owner</h3>
        <select class="custom-select" id="refineByOwner"></select>
        <h3>Purpose</h3>
        <select class="custom-select" id="refineByPurpose"></select>
    </section>

    <section class="options">
        <h2>More Options</h2>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="showOrbits">
            <label class="custom-control-label" for="showOrbits">Show Orbits</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="showOrbitMotion">
            <label class="custom-control-label" for="showOrbitMotion">Show Orbit Motion</label>
        </div>
    </section>

    <section class="options">
        <h2>Zoom Level</h2>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioLEO" name="zoom">
            <label class="custom-control-label" for="radioLEO">LEO</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioGEO" name="zoom" checked>
            <label class="custom-control-label" for="radioGEO">GEO</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioOverview" name="zoom">
            <label class="custom-control-label" for="radioOverview">Overview</label>
        </div>
    </section>
</div>
<div class="right-panel realistic">

</div>