<div class="left-panel realistic">
    <h1>Satellites since 1974 to Today</h1>
    
    <section class="options">
        <h2>Refine by</h2>
        <h3>Country</h3>
        <select class="custom-select" id="refineByCountry"></select>
        <h3>Owner</h3>
        <select class="custom-select" id="refineByOwner"></select>
        <h3>Purpose</h3>
        <select class="custom-select" id="refineByPurpose"></select>
    </section>

    <section class="options">
        <h2>More Options</h2>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="showOrbits" checked>
            <label class="custom-control-label" for="showOrbits">Show Orbits</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="showSatellites" checked>
            <label class="custom-control-label" for="showSatellites">Show Satellites</label>
        </div>
    </section>

    <section class="options">
        <h2>Zoom Level</h2>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioLEO" name="zoom">
            <label class="custom-control-label" for="radioLEO">LEO</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioGEO" name="zoom" checked>
            <label class="custom-control-label" for="radioGEO">GEO</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioOverview" name="zoom">
            <label class="custom-control-label" for="radioOverview">Overview</label>
        </div>
    </section>
</div>
<div class="right-panel realistic">
    <section>
    <ul class="legend">
        <h2>Country</h2>
        <li><span class="China"></span> China</li>
        <li><span class="Russia"></span> Russia</li>
        <li><span class="UK"></span> UK</li>
        <li><span class="USA"></span> USA</li>
        <li><span class="Others"></span> Others</li>
    </ul>
    <ul class="legend">
        <h2>Purpose</h2>
        <li><span class="Civil"></span> Civil</li>
        <li><span class="Commercial"></span> Commercial</li>
        <li><span class="Government"></span> Government</li>
        <li><span class="Millitary"></span> Millitary</li>
        <li><span class="Multi-purpose"></span> Multi-purpose</li>
    </ul>
    <ul class="legend">
        <h2>Period</h2>
        <li><span class="year0"></span> 2010 - 2020</li>
        <li><span class="year1"></span> 2000 - 2009</li>
        <li><span class="year2"></span> 1990 - 1999</li>
        <li><span class="Before"></span> Before 1990</li>
    </ul>
    </section>
    <!--<div id="zoom"></div>-->
</div>