<div class="left-panel realistic">
    <h1>Satellites since 1974 to Today</h1>
    
    <section class="options">
        <h2>Refine by</h2>
        <h3>Country</h3>
        <select class="custom-select" id="refineByCountry"></select>
        <h3>Purpose</h3>
        <select class="custom-select" id="refineByPurpose"></select>
        <h3>Period</h3>
        <select class="custom-select" id="refineByPeriod"></select>
    </section>

    <section class="options">
        <h2>More Options</h2>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="showOrbits" checked>
            <label class="custom-control-label" for="showOrbits">Show Orbits</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="showSatellites" checked>
            <label class="custom-control-label" for="showSatellites">Show Satellites</label>
        </div>
    </section>

    <section class="options">
        <h2>Zoom Level</h2>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioLEO" name="zoom" value="ZOOM_LEO">
            <label class="custom-control-label" for="radioLEO">LEO</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioGEO" name="zoom" value="ZOOM_GEO" checked>
            <label class="custom-control-label" for="radioGEO">GEO</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioOverview" name="zoom" value="ZOOM_OVERVIEW">
            <label class="custom-control-label" for="radioOverview">Overview</label>
        </div>
    </section>
</div>

<div class="right-panel realistic">
    <section>
        <ul class="legend">
            <h2>Country</h2>
            <li id="China"><span class="China"></span> China (<div class="number" id="NumOfChina"></div>)</li>
            <li id="Russia"><span class="Russia"></span> Russia (<div class="number" id="NumOfRussia"></div>)</li>
            <li id="UK"><span class="UK"></span> UK (<div class="number" id="NumOfUK"></div>)</li>
            <li id="USA"><span class="USA"></span> USA (<div class="number" id="NumOfUSA"></div>)</li>
            <li id="Others"><span class="Others"></span> Others (<div class="number" id="NumOfOthers"></div>)</li>
        </ul>
        <ul class="legend">
            <h2>Purpose</h2>
            <li id="Civil"><span class="Civil"></span> Civil (<div class="number" id="NumOfCivil"></div>)</li>
            <li id="Commercial"><span class="Commercial"></span> Commercial (<div class="number" id="NumOfCommercial"></div>)</li>
            <li id="Government"><span class="Government"></span> Government (<div class="number" id="NumOfGovern"></div>)</li>
            <li id="Millitary"><span class="Millitary"></span> Millitary (<div class="number" id="NumOfMilitary"></div>)</li>
            <li id="Multi-purpose"><span class="Multi-purpose"></span> Multi-purpose (<div class="number" id="NumOfMulti"></div>)</li>
        </ul>
        <ul class="legend">
            <h2>Period</h2>
            <li id="year2010-2020"><span class="year2010-2020"></span> 2010 - 2020 (<div class="number" id="NumOf2010s"></div>)</li>
            <li id="year2000-2009"><span class="year2000-2009"></span> 2000 - 2009 (<div class="number" id="NumOf2000s"></div>)</li>
            <li id="year1990-1999"><span class="year1990-1999"></span> 1990 - 1999 (<div class="number" id="NumOf1990s"></div>)</li>
            <li id="Before1990"><span class="Before1990"></span> Before 1990 (<div class="number" id="NumOfBefore90"></div>)</li>
        </ul>
    </section>
    <!--<div id="zoom"></div>-->
</div>
<div id="div_template_real"></div>