<div class="left-panel statistical">
  <div class="stat-title form-inline">
    <h1>Satellite Statistics in the Year of:</h1>
    <select class="custom-select" id="sta_refineByYear"></select>
  </div>
    <section class="options">
        <h2>Refine by</h2>
        <h3>Country</h3>
        <select class="custom-select" id="sta_refineByCountry"></select>
        <h3>Purpose</h3>
        <select class="custom-select" id="sta_refineByPurpose"></select>
    </section>
    <section class="options">
        <h2>Sort by</h2>
        <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioCountry" name="groupOfDefaultRadios" checked>
            <label class="custom-control-label" for="radioCountry">Country</label>
          </div>
          
          <!-- Group of default radios - option 2 -->
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioPurpose" name="groupOfDefaultRadios" >
            <label class="custom-control-label" for="radioPurpose">Purpose</label>
          </div>
          
          <!-- Group of default radios - option 3 -->
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioPeriod" name="groupOfDefaultRadios">
            <label class="custom-control-label" for="radioPeriod">Period</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioMass" name="groupOfDefaultRadios">
            <label class="custom-control-label" for="radioMass">Mass</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="radioDis" name="groupOfDefaultRadios">
            <label class="custom-control-label" for="radioDis">Avg Distance to Earth</label>
          </div>
    </section>
  <section class="legend">
          <h2>Purpose</h2>
          <li><span class="s_Civil"></span> Civil</li>
          <li><span class="s_Commercial"></span> Commercial</li>
          <li><span class="s_Government"></span> Government</li>
          <li><span class="s_Millitary"></span> Millitary</li>
          <li><span class="s_Multi-purpose"></span> Multi-purpose</li>
  </section>
</div>
<div id="div_template"></div>
<div id="my_dataviz"></div>
<!-- <div class="right-panel statistical">

</div> -->


<!-- <script src="./orbit.js"></script> -->